



<div class="home-container">
    <div class="create-post-header">Create New Post</div>
    <div class="create-post-card">
        <form class="create-post-form" (submit)="createPost($event)">
            <textarea class="create-post-input" type="text" [(ngModel)]="post.postBody" name="postBody" required></textarea>
        </form>
        <div class="button-container">
            <button class="create-post-button" (click)="createPost($event)">Submit</button>
        </div>
    </div>
    <app-parent [user]="user"></app-parent>
</div>
