<div class="register-container">
    <div class="register-tab">Register</div>
    <div class="register-card">
        <form [formGroup]="register-form" (ngSubmit)="onSubmit()" class="register-form">
            <div class="register-input">
                <input type="text" formControlName="username" placeholder="Username">
            </div>
            <div class="register-input">
                <input type="password" formControlName="password" placeholder="Password">
            </div>
            <div class="register-input">
                <input type="text" formControlName="firstname" placeholder="First Name">
            </div>
            <div class="register-input">
                <input type="text" formControlName="lastName" placeholder="Last Name">
            </div>
            <div class="register-input">
                <input type="text" formControlName="email" placeholder="Email Address">
            </div>
            <div class="register-input">
                <input type="text" formControlName="location" placeholder="Location">
            </div>
            <div>
                <button>Register</button>
            </div>
        </div>
        
        
    </div>
</div>