<div class="register-container">
    <div class="register-tab">Register</div>
    <div class="register-card">
        <div class="register-form">
            <div>Username
                <input type="text">
            </div>
            <div>Password
                <input type="text">
            </div>
            <div>First Name
                <input type="text">
            </div>
            <div>Last Name</div>
            <div>Email Address</div>
            <div>Location</div>
        </div>
        
        
    </div>
</div>