<div class="register-container">
    <div class="register-tab">Register</div>
    <div class="register-card">
        <div class="register-form">
            <div>Username
                <input type="text" placeholder="Username">
            </div>
            <div>Password
                <input type="password" placeholder="Password">
            </div>
            <div>First Name
                <input type="text">
            </div>
            <div>Last Name
                <input type="text">
            </div>
            <div>Email Address
                <input type="text">
            </div>
            <div>Location
                <input type="text">
            </div>
        </div>
        
        
    </div>
</div>