<div class="register-container">
    <div class="register-tab">Registration</div>
    <div class="register-card">
        <div class="register-form">
            <div class="register-input">
                <input type="text" id="username" placeholder="Username*" class="input-field">
            </div>
            <div class="register-input">
                <input type="password" id="password" placeholder="Password*" class="input-field">
            </div>
            <div class="register-input">
                <input type="text" id="firstname" placeholder="First Name*" class="input-field">
            </div>
            <div class="register-input">
                <input type="text" id="lastname" placeholder="Last Name*" class="input-field">
            </div>
            <div class="register-input">
                <input type="text" id="email" placeholder="Email*" class="Address" class="input-field">
            </div>
            <div class="register-input">
                <input type="text" id="location" placeholder="Location" class="input-field">
            </div>
        </div>
        <div id="register-submit">
            <div class="asterisk">*Required</div>
            <button class="btn btn" on>Register</button>
        </div>
    </div>
</div>