<div class="register-container">
    <div class="register-tab">Creating </div>
    <div class="register-card">
        <div class="register-form">
            <div class="register-input">
                <input type="text" placeholder="Username" class="input-field">
            </div>
            <div class="register-input">
                <input type="password" placeholder="Password" class="input-field">
            </div>
            <div class="register-input">
                <input type="text" placeholder="First Name" class="input-field">
            </div>
            <div class="register-input">
                <input type="text" placeholder="Last Name" class="input-field">
            </div>
            <div class="register-input">
                <input type="text" placeholder="Email Address" class="input-field">
            </div>
            <div class="register-input">
                <input type="text" placeholder="Location" class="input-field">
            </div>
        </div>
        <div id="register-submit">
            <button class="btn btn">Register</button>
        </div>
        
        
    </div>
</div>