<div class="register-container">
    <div class="register-tab">Register</div>
    <div class="register-card">
        <div class="register-form">
            <div class="register-input">
                <input type="text" placeholder="Username" class="register">
            </div>
            <div class="register-input">
                <input type="password" placeholder="Password">
            </div>
            <div class="register-input">
                <input type="text" placeholder="First Name">
            </div>
            <div class="register-input">
                <input type="text" placeholder="Last Name">
            </div>
            <div class="register-input">
                <input type="text" placeholder="Email Address">
            </div>
            <div class="register-input">
                <input type="text" placeholder="Location">
            </div>
        </div>
        <div id="register-submit">
            <button class="btn btn">Register</button>
        </div>
        
        
    </div>
</div>