<div class="register-container">
    <div class="register-tab">Register</div>
    <div class="register-card">
        <p class="post-body">
            Don't ever, for any reason, do anything to anyone for any reason ever, no matter what, no matter where, or who, or who you are with, or where you are going, or where you've been... ever, for any reason whatsoever...
        </p>
        <div class="post-status">
            <img src="../../../../assets/images/gem.png" class="gem-img" alt="background image">
            <div class="post-gem-count">1</div>
            <div class="post-time-submitted">Tue. Apr 5, 2022</div>
        </div>
        <div class="comment-container">
            <app-child></app-child>
            <app-child></app-child>
        </div>
    </div>
</div>