<div class="register-container">
    <div class="register-tab">Register</div>
    <div class="register-card">
        <div class="register-form">
            <div>
                <input type="text" placeholder="Username">
            </div>
            <div>
                <input type="password" placeholder="Password">
            </div>
            <div>
                <input type="text" placeholder="First Name">
            </div>
            <div>
                <input type="text" placeholder="Last Name">
            </div>
            <div>
                <input type="text" placeholder="Email Address">
            </div>
            <div>
                <input type="text" placeholder="Location">
            </div>
        </div>
        
        
    </div>
</div>