

<!-- <div class="post-container">
    <div class="post-tab">{{post?.user?.username}}</div>
    <div *ngIf="this.post" class="post-card">
        <p class="post-body">{{post.postBody}}</p>
        <div class="post-status">
            <img src="../../../../assets/images/gem.png" class="gem-img" alt="background image">
            <div class="post-gem-count">{{post.likesCount}}</div>
            <div class="post-time-submitted">{{post.timePosted}}</div>
        </div>
        <div class="comment-container">
            <app-child></app-child>
        </div>
    </div>
</div> -->

<div class="post-container">
    <div *ngFor="let obj of postList" class="post">
        <div class="post-tab">{{obj?.user?.username}}</div>
        <div *ngIf="this.post" class="post-card">
            <p class="post-body">{{obj.postBody}}</p>
            <div class="post-status">
                <img src="../../../../assets/images/gem.png" class="gem-img" alt="background image">
                <div class="post-gem-count">{{obj.likesCount}}</div>
                <div class="post-time-submitted">{{obj.timePosted | date}}</div>
            </div>
            <div class="comment-container">
                <app-child></app-child>
            </div>
        </div>
    </div>
</div>